<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Adopt a Dog/Cat</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
        <script defer src = "<%= '/scriptwebsite.js' %>"></script>
    </head>

    <body> 
        <div class = "container">
            <%- include('header.ejs') %>
            <%- include('menu.ejs') %>

            <div class = "content">
                <form id = "giveawayform" action = "/submitPet" method = "POST">
                    <fieldset class ="formdog">
                        <legend>Form to Give Away a Pet</legend>
                        <p>Owner's First Name <input type = "text" id = "username" name = "owner1"></p>
                        <p>Owner's Family Name <input type = "text" id = "lastname" name = "owner2"></p>
                        <p>Owner's Current Email where they can be reached <input type = "text" id = "email" size = "30" name = email></p>
                        <p>Which animal are you giving away?
                            <select id="petType" name="petType">
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                            </select>
                        </p>
                        <p>Which breed of animal are you giving away?
                            <br>
                            <label>
                                <input type = "radio" name = "breed" value = "Siamese" id = "siamese">
                                Siamese Cat
                            </label>
                            <label>
                                <input type = "radio" name = "breed" value = "British Shorthair" id = "britishShorthair">
                                British Shorthair Cat
                            </label>
                            <label>
                                <input type = "radio" name = "breed" value = "Persian" id = "persian">
                                Persian Cat
                            </label>
                            <br>
                            <label>
                                <input type = "radio" name = "breed" value = "German Shepherd">
                                German Shepherd Dog
                            </label>
                            <label>
                                <input type = "radio" name = "breed" value = "Bulldog">
                                Bulldog
                            </label>
                            <label>
                                <input type = "radio" name = "breed" value = "Chihuahua">
                                Chihuahua Dog
                            </label>
                        <p>Select the age of your pet:
                            <select name = "age">
                                <option> Less than 2 </option>
                                <option> Between 2 and 8 </option>
                                <option> Between 8 and 14</option>
                                <option> Does not matter </option>
                            </select>
                        </p>
                        <p>Select the gender of your pet:
                            <select name = "gender">
                                <option> Male </option>
                                <option> Female </option>
                            </select>
                        </p>
                        <label for="petAlongDog">Does the pet get along with other dogs?</label>
                        <input type="checkbox" id="petAlongDog" name="petAlongDog" value="True">
                        <br><br>
            
                        <label for="petAlongCat">Does the pet get along with other cats?</label>
                        <input type="checkbox" id="petAlongCat" name="petAlongCat" value="True">
                        <br><br>
            
                        <label for="petAlongKids">Does the pet get along with kids?</label>
                        <input type="checkbox" id="petAlongKids" name="petAlongKids" value="True">
                        <br><br>
                        </p>
                        <p>Comments:</p>
                        <textarea name="comments" id="comments" rows ="4" cols ="80"></textarea>
                        <br>
                            <input class = "buttons" type = "submit" value = "Submit" id = "submit_button">
                            <input class = "buttons" type = "reset" value = "Reset">
                    </fieldset>
                </form>

                <form action="/logout" method="POST">
                    <input class = "buttons" type = "submit" value="Log Out" class="buttons">
                </form>
            </div>

            <%- include('footer.ejs') %>
        </div>
        <script src = "scriptwebsite.js"></script>
    </body>
</html>