<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Home Page</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
        <script defer src = "<%= '/scriptwebsite.js' %>"></script>
    </head>

    <body> 
                
        <div class = "container">
            <%- include('header.ejs') %>
            <%- include('menu.ejs') %>

            <div class = "content">
                <h2>Welcome to Paws&Buddies!</h2>
                <h3>A place where anyone can find a cat or a dog to adopt</h3>
                <h3>A place where anyone can sign up to potentially meet their new best friend</h3>
                <table class = "imagesforhome">
                    <tr>
                        <th>
                            <img src = "https://cdn.britannica.com/86/166986-050-4CEFE5DE/cute-kitten-and-puppy-outdoors-in-grass.jpg?w=600&q=60"
                            class ="animals"
                            alt = "dog&cat1"
                            height = "500"
                            width = "500">
                        </th>
                        <th>
                            <img src = "https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2018/04/24144817/American-Staffordshire-Terrier-lying-outdoors-next-to-a-kitten-that-is-playing-with-the-dogs-nose.jpg"
                            class = "animals"
                            alt = "dog&cat2"
                            height = "500"
                            width = "500">
                        </th>
                    </tr>
                    <tr style = "height: 1vw;">
                        <td>Figure 1. <a href = "https://www.britannica.com/story/are-dogs-smarter-than-cats">Image of a dog and cat</a></td>
                        <td>Figure 2. <a href = "https://www.akc.org/expert-advice/lifestyle/dogs-that-are-good-with-cats/">Image of a dog and cat</a></td>
                    </tr>
                </table>

            </div>

            <%- include('footer.ejs') %>
        </div>
        <script src = "scriptwebsite.js"></script>
    </body>
</html>