<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Privacy Statement</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href ="<%= '/stylesheetwebsite.css' %>">
        <script defer src = "<%= '/scriptwebsite.js' %>"></script>
    </head>

    <body> 
                
        <div class = "container">
            <%- include('header.ejs') %>
            <%- include('menu.ejs') %>

            <div class = "content">
                <p>
                    At Paws&Buddies, we take your privacy and security seriously. 
                    This Privacy and Disclaimer Statement outlines how we collect, use, and protect your personal information, as well as our disclaimer regarding the accuracy of information provided by users.
                    <br>
                    Privacy Policy:
                </p>
                <ol type ='1'>
                    <li>Personal Information: We may collect personal information such as your name, email address, and contact information when you register or interact with our website. This information is used solely for communication purposes and will not be sold, rented, or shared with third parties without your consent.</li>
                    <li>Cookies: Our website may use cookies to enhance your browsing experience. These cookies are used for analytics and tracking purposes only and do not collect personally identifiable information.</li>
                    <li>Security: We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</li>
                    <li>Third-Party Links: Our website may contain links to third-party websites. Please note that we are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of these third parties before providing any personal information.</li>
                </ol>

                <p>
                    Disclaimer:
                </p>
                <ol type = '1'>
                    <li>Accuracy of Information: While we strive to provide accurate and up-to-date information, we cannot guarantee the accuracy, completeness, or reliability of the content posted by users, including pet owners. Users are solely responsible for the accuracy of the information they provide, and we disclaim any liability for any errors or omissions in user-generated content.</li>
                    <li>User Conduct: Users are expected to comply with our Terms of Service and community guidelines when posting content on our website. We reserve the right to remove any content that violates these guidelines or is deemed inappropriate.</li>
                    <li>Limitation of Liability: We shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our website or the information provided herein.</li>
                </ol>
                <p>
                    By using our website, you agree to the terms outlined in this Privacy and Disclaimer Statement. 
                    We reserve the right to update or modify this statement at any time without prior notice. 
                    It is your responsibility to review this statement periodically for changes.
                    <br>
                    If you have any questions or concerns about our Privacy and Disclaimer Statement, please <a href ="/contactus">contact us</a>.
                    <br>
                    <br>
                    Last Updated: Friday, February 16, 2024 at 10:59PM
                    <br>
                    <br>
                    - Creators at Paws&Buddies
                </p>
            </div>

            <%- include('footer.ejs') %>

        </div>
        <script src = "scriptwebsite.js"></script>
    </body>
</html>